<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.com.newapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".FireApp"
        android:allowBackup="true"
        android:icon="@drawable/iiitm_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:noHistory="true" />
        <activity android:name=".login" />
        <activity android:name=".feedback"/>
        <activity android:name=".register" />
        <activity android:name=".suggestion" />
        <activity android:name=".swacha" />
        <activity android:name=".vittiya" />
        <activity android:name=".Thanku"></activity>
    </application>

</manifest>